body {
    background: linear-gradient(210deg,#4b8f41,#5e4177,#d98b30,#6bdcbb,#a2e1);
    background-size: 200% 200%;
    animation: gradient-animation 60s linear infinite;
}

@keyframes gradient-animation {
    0% {background-position: 0 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0 50%}
}


.carousel img {
    height: 700px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-caption {
    background-color: rgb(100, 100, 100, 0.8);
}


.avatar-image {
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center;
}

.tooltip.show {
    opacity: 1;
}

.jobs-principal {
    background-color:   #fcd9c0 ;
}

.jobs-contractor {
    background-color:  #e6c8fb;
}

.jobs-default {
    background-color:  #c4bdbd ;
}

.job-principal {
    background-color:   #fdab6e ;
}

.job-contractor {
    background-color:  #c371fb;
}

.job-default {
    background-color:  #898585 ;
}

.nowrap {
    white-space: nowrap;
}
