body {
    background: green;
}

h1 {
    color: purple;
    text-shadow: 1px 1px yellow;
}

.carousel img {
    height: 700px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.avatar-image {
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center;
}

.tooltip.show {
    opacity: 1;
}

.jobs-principal {
    background-color:   #fcd9c0 ;
}

.jobs-contractor {
    background-color:  #e6c8fb;
}

.jobs-default {
    background-color:  #c4bdbd ;
}

.job-principal {
    background-color:   #fdab6e ;
}

.job-contractor {
    background-color:  #c371fb;
}

.job-default {
    background-color:  #898585 ;
}
