{% extends "home_page/base.html" %}
{% load crispy_forms_tags %}


{% block title %}{{ block.super }} Jobs{% endblock %}

{% block content %}
    <h2 class="ps-2">Job number {{ job.pk }} -
        {% if form.user_can_edit %}
            Update a job details to continue further works
        {% else %}
            The details
        {% endif %}
    </h2>

    <form method="post">
        {% csrf_token %}
        <div class="card mx-auto mt-5" style="width: 90%; background-color: lightgray">
            <div class="card-header bg-secondary bg-gradient">
                <h6 class="card-text text-center">Update a job</h6>
            </div>
            <div class="card-body">
                {% crispy form %}
                {% if form.user_can_edit %}
                    <input type="submit" value="Submit" class="btn btn-secondary bg-gradient">
                {% endif %}
            </div>
        </div>
    </form>

{% endblock %}
