{% extends "home_page/base.html" %}
{% load job_filters %}


{% block title %}{{ block.super }} Jobs{% endblock %}

{% block content %}

    <div class="container-fluid" style="background-color:lavenderblush;">
        <h2>Jobs list</h2>
        <p>All the jobs on the construction.</p>

        <table class="table table-striped table-hover table-warning mt-5">
            <thead class="align-middle">
                {% with sort_ascending="bi bi-sort-alpha-down" sort_descending="bi bi-sort-alpha-down-alt" %}
                    <tr>
                        <th>
                            <div class="nowrap">ID
                                <a href="?order_by=pk"><i class="{{ sort_ascending }}"></i></a>
                                <a href="?order_by=-pk"><i class="{{ sort_descending }}"></i></a>
                            </div>
                        </th>
                        <th>Principal</th>
                        <th>Contractor</th>
                        <th>Status</th>
                        <th>Kind</th>
                        <th>
                            <div class="nowrap">
                                Description
                                <a href="?order_by=description"><i class="{{ sort_ascending }}"></i></a>
                                <a href="?order_by=-description"><i class="{{ sort_descending }}"></i></a>
                            </div>
                        </th>
                        <th>
                            <div class="nowrap">
                                Deadline
                                <a href="?order_by=deadline"><i class="{{ sort_ascending }}"></i></a>
                                <a href="?order_by=-deadline"><i class="{{ sort_descending }}"></i></a>
                            </div>
                        </th>
                        <th>km from</th>
                        <th>km to</th>
                        <th>Trade</th>
                        <th>Comments</th>
                        <th>Created</th>
                    </tr>
                {% endwith %}
            </thead>
            <tbody>
                {% for job in page_object %}
                    <tr class="align-middle">
                        <td><a href="{% url "jobs-job" job_pk=job.pk %}">{{ job.pk }}</a></td>
                        <td>{{ job.principal.get_full_name }}</td>
                        <td>{{ job.contractor.get_full_name }}</td>
                        <td>
                            <span class="badge rounded-pill {% if job.status == "waiting" %}bg-light text-dark{% elif job.status == "accepted" %}bg-primary{% elif job.status == "finished" %}bg-success{% elif job.status == "refused" %}bg-danger{% elif job.status == "closed" %}bg-dark{% else %}bg-info text-dark{% endif %}">
                                {{ job.get_status_display | capfirst }}
                            </span>
                        </td>
                        <td>{{ job.get_kind_display | capfirst }}</td>
                        <td>{{ job.description }}</td>
                        <td>{{ job.deadline | date:"d.m.Y" }}</td>
                        <td>{{ job.km_from | km }}</td>
                        <td>{% if job.km_to %}{{ job.km_to | km }}{% else %}-{% endif %}</td>
                        <td><span class="badge bg-secondary" >{{ job.trade }}</span></td>
                        <td>{{ job.comments }}</td>
                        <td>{{ job.created | date:"d.m.Y H:i" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if jobs %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item {% if not page_object.has_previous %}disabled{% endif %}">
                        <a class="page-link" href="{% if page_object.has_previous %}?page={{ page_object.previous_page_number }}&order_by={{ order_by }}{% endif %}">◀️ Previous</a>
                    </li>

                    {% get_elided_page_range paginator page_object.number 2 1 as page_range %}
                    {% for page_num in page_range %}
                        {% if page_object.number == page_num %}
                            <li class="page-item active">
                                <a class="page-link">{{ page_num }}</a>
                            </li>
                        {% else %}
                            {% if page_num == paginator.ELLIPSIS %}
                                <li class="page-item">
                                    <span class="page-link">{{ paginator.ELLIPSIS }}</span>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_num }}&order_by={{ order_by }}">{{ page_num }}</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    <li class="page-item {% if not page_object.has_next %}disabled{% endif %}">
                        <a class="page-link" href="{% if page_object.has_next %}?page={{ page_object.next_page_number }}&order_by={{ order_by }}{% endif %}">Next ️▶️</a>
                    </li>
                </ul>
            </nav>
        {% endif %}
    </div>

{% endblock %}
